@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCER LA DISPARITION DE TOUTES LES SCROLLBARS GLOABLEMENT */
*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;     /* Firefox */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}